#tk{
    color: blue;
}

[rancio="T1"]{
    color: white;
    background-color: yellow;
     font-size: 30px;
    margin: 10px 0px 10px 0px;
    color: red;
}


body{
    background-color: rgb(80, 79, 79);
}